<form
  #editBookForm="ngForm"
  class="submit-form"
  (ngSubmit)="editBookForm.form.valid && editBook()"
  novalidate
>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      required
      [(ngModel)]="book.title"
      name="title"
      #title="ngModel"
    />
    <div class="text-danger" *ngIf="title.errors && editBookForm.submitted">
      <p *ngIf="title.errors['required']">Title is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="author">Author</label>
    <input
      class="form-control"
      id="author"
      required
      [(ngModel)]="book.author"
      name="author"
      #author="ngModel"
    />
    <div class="text-danger" *ngIf="author.errors && editBookForm.submitted">
      <p *ngIf="author.errors['required']">Author is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="publishedDate">Published Date</label>
    <input
      type="date"
      class="form-control"
      id="publishedDate"
      required
      [(ngModel)]="book.publishedDate"
      name="publishedDate"
      #publishedDate="ngModel"
    />
    <div
      class="text-danger"
      *ngIf="publishedDate.errors && editBookForm.submitted"
    >
      <p *ngIf="publishedDate.errors['required']">Published Date is required</p>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      [(ngModel)]="book.description"
      name="description"
    ></textarea>
  </div>

  <div class="row justify-content-between">
    <div class="col-auto">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
    <div class="col-auto">
      <button (click)="deleteBook()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>
